/* PROPERTIES */
body
{
    background-image: url("../art/others/Background.jpg");
}

footer
{
    padding: 5px;
    text-align: center;
    background-color: #707070;
}

/* CLASSES */

.related
{
    text-align: center;
    background-color: #707070
}

.centered
{
    text-align: center;
}